
.logo-img {
    float: center;
    width:  200px;
    height: 200px;
    object-fit: contain;
}

.bg-img {
    background-image: url("../img/kbda meeting.jpeg");
    background-size: cover;
    height: 400px;
    width: 100%;
}

.um-green {
    background-color: #0D7576;
}

.titles-shadow {
  font-family: "Bayon", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 3px 3px 3px #ababab;
}

.titles {
  font-family: "Bayon", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

.body {
  font-family: "Lato", sans-serif;
} 